<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Demo Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
         

          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio">Portfolio</a>
          </li>

          <!-- dropdown one -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Binding & Directives
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="interpol">interpolation</a></li>
              <li><a class="dropdown-item" routerLink="directive">Directives</a></li>
              <li><a class="dropdown-item" routerLink="custom">Custom Directives</a></li>
              
            </ul>
          </li>

          <!-- dropdown2 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              pipes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">normal pipes</a></li>
              <li><a class="dropdown-item" href="#">custom pipes</a></li>
             
              
            </ul>
        </li>

                <!-- dropdown3 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     forms and servics
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Template Driven Forms</a></li>
                      <li><a class="dropdown-item" href="#">Reactive Forms</a></li>
                      <li><a class="dropdown-item" href="#">Services</a></li>
                      <li><a class="dropdown-item" href="#">http Services</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">rest API</a>
                </li>
    
        </ul>
    
      </div>
    </div>
  </nav>
